<footer>
  <p>Residencial Acalanto - R. Guilherme Gemballa, 260 - Sala 3 - Jardim América, Rio do Sul - SC, 89160-188</p>
  <p><span>Rocketseat © 2020</span> - Todos os direitos reservados</p>
</footer>