@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

:root {
    --color-background-first: #537bfd;
    --color-background-second: white;
    --color-text-first: #25282B;
    --color-text-second: #777;
    --color-text-third: #555;
    --color-tittle-primary: #537bfd;
    --color-tittle-secondary: #eee;
    --color-hover-primary: ;
    
}


*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background-first);
    font-family: 'Roboto', sans-serif;


}

header {
    background-color: var(--color-background-second);
    padding: 32px;
    width: 100%;
    text-align: center;
}

header .links {
    font-size: 16px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: var(--color-text-second);
    font-weight: 500;
    position: relative;;
}


.links a.active {
    color: var(--color-background-first);
    font-weight: 900;
}

.links a:hover {
    color: var(--color-background-first);
}

.links a::before{
    content: '';
    background-color: var(--color-background-first);
    width: 0%;
    position: absolute;
    height: 3px;
    bottom: 100%;
    left: 0;

}

.links a::after{
    content: '';
    background-color: var(--color-text-second);
    width: 0%;
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
}

.links a:hover::before{
    width: 100%;
    transition: width 320ms cubic-bezier(0.93, 0.01, 0.92, 1.66);
}

.links a:hover::after{
    width: 100%;
    transition: width 320ms cubic-bezier(0.93, 0.01, 0.92, 1.66);
}

/* CARD */

.card {
    width: 80%;
    min-height: 400px;
    max-width: 800px;
    background-color: var(--color-background-second);
    border-radius: 4px;
    
    margin: 32px auto;

    display: grid;
    grid-template-columns: 4fr 6fr;

    box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.3);

    animation: card 750ms ease-in-out;
}

@keyframes card {
    from{
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
    }
}

.details {
    padding: 32px;
}



.details .item {
    margin: 16px 0;
    border-top: 1px solid rgba(83, 123, 253, 0.4);
}

.details .item:first-of-type {
    border-top: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.8px;
    color: var(--color-text-second);
}

.details h3 {
    color: var(--color-background-first);
    text-transform: uppercase;
    font-weight: 700;
}

.details .item div:nth-child(2) {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-text-third);
}

.details .item div:nth-child(2) span,
.table-container table tbody tr td span {
    font-size: 12px;
    font-weight: 700;
    color: var(--color-text-third);

    margin-top: 8px;
    margin-right: 4px;
    padding: 8px 16px;
    background-color: rgba(255, 255, 0, 0.5);
    border-radius: 16px;

    display: inline-block;
}
.table-container table tbody tr td span {
    margin-top: 0;
}

/*  FORM  */

input {
    width: 100%;
    outline: none;

    font-size: 18px;
    font-weight: 700;
    color: var(--color-text-third);
}

input[type="radio"] {
    width: initial;
}

input[type="date"] {
    width: initial;
}


input::placeholder {
    font-size: 16px;
    color: #999;
    font-weight: 500;
}

.button,
form button[type="submit"],
.table-container > a {
    width: 100%;
    padding: 16px 32px;
    background-color: var(--color-background-first);
    color: white;
    border-radius: 4px;

    font-size: 18px;
    letter-spacing: 0.75px;
    font-weight: 700;
}

.table-container > a {
    display: inline-block;
    width: auto;
    padding: 8px 16px;
    text-decoration: none;
    margin-bottom: 16px;
    font-size: 14px;
}

select {
    color: var(--color-text-third);
    font-size: 16px;
    font-weight: 700;
}

.button {
    width: 20%;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    float: right;
    justify-content: center;
}

#form-delete button[type="submit"] {
    background: rgba(255, 99, 71, 0.835);
    margin-top: 8px;
}

/* TEACHERS INDEX TABLE */

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
}

.table-container table thead tr th {
    text-transform: uppercase;
    color: var(--color-text-second);
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.3px;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid  rgba(83, 123, 253, 0.2);
}


tbody tr:last-child td{
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 56px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 5px 3px 6px -5px rgba(0, 0, 0, 0.226) ;
}

tbody tr td:first-child {
    text-transform: capitalize

}

tbody tr td:last-child a {
    background-color: var(--color-background-first);
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.table-container table tbody tr td:last-child,
.table-container table thead tr th:last-child {
    text-align: center;
}