{% extends "layout.njk" %}

{% block content %}

<form class="card" id="teachers" method="POST" action="/teachers">
    <section class="avatar" style="
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    background: url(https://source.unsplash.com/collection/1960772/500x500) no-repeat center center / cover">
    </section>
    <section class="details">
        <h3>Cadastro de Novo Pofessor</h3>

        <div class="item">
            <div>Imagem</div>
            <input type="url" name="avatar_url" placeholder="Insira o link de uma imagem">
        </div>
        
        <div class="item">
            <div>Nome</div>
            <input type="text" name="name" placeholder="Nome Completo">
        </div>

        <div class="item">
            <div>Data de nascimento</div>
            <input type="date" name="birth">
        </div>

        <div class="item">
            <div>Grau de escolaridade</div>
            <div>
                <select name="education" form="teachers" required>
                    <option value="associate">Curso Técnico</option>
                    <option value="bacharelor">Graduação</option>
                    <option value="especialization">Especialização</option>
                    <option value="master">Mestrado</option>
                    <option value="dotoral">Doutorado</option>

                </select>
            </div>
            
        </div>

        <div class="item">
            <div>Tipo de aula</div>
            <div>
                <span>
                    <input 
                    type="radio" 
                    name="classType" 
                    value="Local" checked>
                    Presencial         
                </span>

                <span>
                    <input 
                    type="radio" 
                    name="classType" 
                    value="Distance">
                    À distância         
                </span>
                

            </div>
        </div>

        <div class="item">
            <div>Área de Atuação</div>
            <input type="text" name="services" placeholder="Disciplinas separadas por vírgula">
        </div>

        <button type="submit">Salvar</button>
    </section>
</form>
    
{% endblock content %}