{% extends "layout.njk" %}

{% block content %}
<div class="card table-container">
    <div class="header">
        <a class="button" href="/teachers/new">Novo</a>    
        <form action="/teachers" method="GET">
            <input 
            type="text" 
            name="filter"
            placeholder="Filtrar por nome"
            value={{filter}}
            >
            <button type="submit">Filtrar</button>
        
        </form>
    </div>
    
    <table width="100%">
        <thead>
            <tr>
                <th>Nome completo</th>
                <th>Acompanhamento</th>
                <th>Alunos</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>
                    <div>
                        <span style="background-image: url({{teacher.avatar_url}})"></span>
                        {{teacher.name}}
                    </div>
                </td>
                    
                <td>
                    <div>
                        {% for subject_taught in teacher.subject_taught %}
                            <span>{{subject_taught}}</span>
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <div>
                        {{ teacher.total_students }}
                    </div>
                </td>
                <td>
                    <div>
                        <a href="/teachers/{{teacher.id}}">Ver</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div 
        class="pagination"
        data-page = {{pagination.page}}
        data-total = {{pagination.total}}
        data-filter = {{filter}}
    ></div>

</div>
    
{% endblock content %}