<div class="item">
    <div>Imagem</div>
    <input 
    type="url" 
    name="avatar_url" 
    value="{{ student.avatar_url }}"
    placeholder="Insira o link de uma imagem - http://"
    >
</div>

<div class="item">
    <div>Nome</div>
    <input 
    type="text" 
    name="name"
    value="{{ student.name }}" 
    placeholder="Nome Completo"
    >
</div>

<div class="item">
    <div>Email</div>
    <input 
    type="email" 
    name="email"
    value="{{ student.email }}" 
    >
</div>

<div class="item">
    <div>Data de nascimento</div>
    <input 
    type="date" 
    name="birth_date"
    value="{{ student.birth_date }}"
    >
</div>

<div class="item">
    <div>Ano escolar</div>
    <div>
        <select name="education_level" form="students" required>
            <option
            value="5f"
            {% if student.education_level == "5f" %} selected {% endif %}
            >5º Ano Ensino Fundamental
            </option>
            
            <option
            value="6f"
            {% if student.education_level == "6f" %} selected {% endif %}
            >6º Ano Ensino Fundamental
            </option>

            <option
            value="7f"
            {% if student.education_level == "7f" %} selected {% endif %}
            >7º Ano Ensino Fundamental
            </option>

            <option
            value="8f"
            {% if student.education_level == "8f" %} selected {% endif %}
            >8º Ano Ensino Fundamental
            </option>

            <option
            value="9f"
            {% if student.education_level == "9f" %} selected {% endif %}
            >9º Ano Ensino Fundamental
            </option>

            <option
            value="1m"
            {% if student.education_level == "1m" %} selected {% endif %}
            >1º Ano Ensino Médio
            </option>

            <option
            value="2m"
            {% if student.education_level == "2m" %} selected {% endif %}
            >2º Ano Ensino Médio
            </option>

            <option
            value="3m"
            {% if student.education_level == "3m" %} selected {% endif %}
            >3º Ano Ensino Médio
            </option>
            
        </select>


    </div>

</div>

<div class="item">
    <div>Carga horária semanal</div>
    <input 
    type="number" 
    name="workload"
    value="{{ student.workload }}"
    placeholder="Insira a quantidade de horas disponíveis na semana"
    >
</div>

<div class="item">
    <div>Professor</div>
    <div>
        <select name="teacher">
            {% for teacher in teacherOptions %}
            <option
            value="{{teacher.id}}"
            {% if student.teacher_id == teacher.id %} selected {% endif %}
            >{{ teacher.name }}
            </option>
            {% endfor %}
        </select>
    </div>
</div>

<button type="submit">Salvar</button>