{%extends "layout.njk"%}

{% block head %}
    <title>{{about.name}} WebDev</title>
{% endblock %}


{%block content%}
    <div id="wrapper">
        <img src="{{about.avatar}}" alt="">
        <h1>{{about.name}}</h1>
        <h2>{{about.role}}</h2>
        <p>{{about.description}}</p>
    </div>

    <div id="links-footer" class="links">

        {% for socialMedia in about.socialMedias %}
            <a href="{{socialMedia.url}}" target="blank">{{socialMedia.name}}</a>
        {% endfor %}

    </div>


{%endblock%}
