{%extends "layout.njk"%}

{% block head %}
    <title>Rodrigo Piva WebDev</title>
{% endblock %}


{%block content%}
    <div id="wrapper">
        <img src="profilepiva.jpeg" alt="">
        <h1>Rodrigo Piva</h1>
        <h2>Jr Web Developer</h2>
        <p>In love with web developer world! A <a href="https://skylab.rocketseat.com.br/dashboard"
                target="blank">Rocketseat</a> student, full-stack developer, focused on learn and help you to find a
            way!</p>
    </div>
{%endblock%}
