{% extends "layout.njk" %}

{% block head %}
    <title>{{course.name}}</title>
    <link rel="stylesheet" href="styles.css">
{% endblock head %}


{% block content %}
    <div id="wrapper">
        <h1>{{course.name}} - ROCKETSEAT</h1>
    </div>

    <section class="cards-coursePage"> 
        <div class="card-coursePage" id="launchbase">
            <div class="card__image-coursePage">
                <img src="{{course.image}}" alt="">
            </div>
            <div class="card__coursePage__info">
                <p>Módulos: {{course.modules}}</p>
                <p class="card__contentPage__price">{{course.price}}</p>
            </div>
           
            <div class="card__coursePage__description">
                <p class="effectText">{{course.effectText}}</p>

                <div class="wrapper-course-info">
                    <h2 class="course_info_title">O que você vai aprender?</h2>
                    <p class="course_info_content">{{course.learn}}</p>
                </div>

                <div class="wrapper-course-info">
                    <h2 class="course_info_title">Quem será o piloto?</h2>
                    <p class="course_info_content">{{course.instructor}}</p>
                </div>

                <div class="wrapper-course-info">
                    <h2 class="course_info_title">Quais são os requisitos para ser aluno?</h2>
                    <p class="course_info_content">{{course.requirements}}</p>
                </div>

                <div class="wrapper-course-info">
                    <h2 class="course_info_title">Qual o formato do curso?</h2>
                    <p class="course_info_content">{{course.format}}</p>
                </div>

                <div class="wrapper-course-info">
                    <h2 class="course_info_title">O curso oferece certificado?</h2>
                    <p class="course_info_content">{{course.certificate}}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}