{% extends "layout.njk" %}

{% block head %}
    <title>NOME DO CURSO</title>
{% endblock head %}


{% block content %}
    <div id="wrapper">
        <h1>NOME DO CURSO - ROCKETSEAT</h1>
    </div>

    <section class="cards-coursePage"> 

        <div class="card-coursePage" id="launchbase">
            <div class="card__image-coursePage">
                <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="">
            </div>
            <div class="card__coursePage__info">
                <p>Módulos: 10</p>
                <p class="card__contentPage__price">R$ 900,00</p>
            </div>
           
            <div class="card__coursePage__description">
                <p class="effectText">Frase de efeito do curso</p>

                <div class="wrapper-course-info">
                    <h2 class="course_info_title">O que você vai aprender?</h2>
                    <p class="course_info_content"> teste teste teste teste</p>
                </div>

                <div class="wrapper-course-info">
                    <h2 class="course_info_title">Quem será o piloto?</h2>
                    <p class="course_info_content"> teste teste teste teste</p>
                </div>

                <div class="wrapper-course-info">
                    <h2 class="course_info_title">Quais são os requisitos para ser aluno?</h2>
                    <p class="course_info_content"> teste teste teste teste</p>
                </div>

                <div class="wrapper-course-info">
                    <h2 class="course_info_title">Qual o formato do curso?</h2>
                    <p class="course_info_content"> teste teste teste teste</p>
                </div>

                <div class="wrapper-course-info">
                    <h2 class="course_info_title">O curso oferece certificado?</h2>
                    <p class="course_info_content"> teste teste teste teste</p>
                </div>
                

                

                

                

                
            </div>



        </div>

    </section>
{% endblock content %}